Condemned & Dead-End Properties Dataset

In [1]:
import pandas as pd
property = pd.read_csv("Condemned_Properties.csv")
property.head()

,_id,parcel_id,address,owner,property_type,date,latest_inspection_result,latest_inspection_score,inspection_status
0,157180,0081A00132000000,No primary address specified,MCCOY MARK JOEL & NICOLE HELENA (W),Condemned Property,2020-05-19,Fail,9.0,Inactive
1,157181,0174L00014000000,No primary address specified,BATTLE RAYNA,Condemned Property,2020-05-19,Fail,15.0,Inactive
2,157182,0175C00159000000,No primary address specified,WHEATON RALEIGH PIERRE,Condemned Property,2020-05-20,Fail,43.0,Inactive
3,157183,0049N00268000000,"321 37TH ST, Pittsburgh, 15201",NaN,Condemned Property,2020-05-21,Fail,21.0,Inactive
4,157184,0050M00310000000,"5452 BROAD ST, Pittsburgh, 15206",MONROE BRIAN,Condemned Property,2020-05-28,Fail,12.0,Inactive